@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

nav {
    border-right: 1px solid hsl(0, 0%, 85%);
    display: block;
    position: fixed;
    inset: 0 auto auto 0;
    width: 20rem;
    height: 100vh;
    padding: 2rem;

    h1 {
        padding: 2rem 0rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0;

        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}

main {
    width: calc(100vw - 25rem);
    position: absolute;
    right: 0;
}

.welcome {
    margin: 2rem 0;
    h1 {
        padding: 0;
        margin-bottom: 0;
    }
    p {
        padding: 0;
        margin: 0;
        opacity: 0.5;
    }
}

.dash-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;

    .dash-card {
        width: 100%;
        height: 12rem;
        border-radius: 45px;
        padding: 2rem 2rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .num {
            font-size: 2rem;
            font-weight: 600;
            opacity: 0.6;
            margin-top: 1rem;
        }

        .progress {
            aspect-ratio: 1;
            height: 6rem;
            aspect-ratio: 1;
            border: 6px solid black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-weight: 800;
            }
        }
    }

    .dash-card:nth-of-type(1) {background: #FFEEE2;}
    .dash-card:nth-of-type(2) {background: #EFFCEF;}
    .dash-card:nth-of-type(3) {background: #E6F5F9;}
    .dash-card:nth-of-type(4) {background: #F4F6FA;}
}

.stock-list {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        border-radius: 25px;
        padding: 1rem 2rem;
        position: relative;

        .price {
            position: absolute;
            right: 2rem;
            font-size: 1.5rem;
        }
    }

    li:nth-of-type(even) {background: #F4F6FA;}
    li:nth-of-type(odd) {background: #E6F5F9;}
}

.customer-grid-container {
    max-width: min-content;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2.5rem;

    .customer-card {
        width: 20rem;
        aspect-ratio: 9 / 12;
        background: #F4F6FA;
        padding: 2rem;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
        img {
            border-radius: 50%;
            width: 12rem;
            margin-bottom: 1rem;
        }

        h1 {
            font-weight: 400;
            text-align: center;
        }
        p {
            margin-top: -1rem;
        }

        button {
            margin-top: 1rem;
            border: none;
            background: hsl(220, 37%, 47%);
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

.cust-details-container {
    position: fixed;
    inset: 50% auto auto 50%;
    z-index: 15;

    width: 60%;
    background: #FFF;
    border-radius: 50px;
    padding: 2rem;

    opacity: 0;
    transform: translate(-50%, 2rem);
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    h2 {
        color: hsl(220, 37%, 47%);
    }

    button {
        position: absolute;
        right: 2rem;
        top: 2rem;
        border: none;
        border-radius: 50%;
        width: 2.2rem;
        aspect-ratio: 1;
        cursor: pointer;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            padding: 1rem 0rem;
            border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-weight: 400;
                font-size: 1.5rem;
            }

            .pur-date {
                position: absolute;
                right: 0;
                font-size: 1.2rem;
            }
        }
    }
}

.cust-details-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 20%, 0.8);
    z-index: 10;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}